html,
body {
  height: 100%;
}

body {
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

h1 {
  font-weight: 300;
  color: #c92c61;
  font-size: 2em;
}

h2 {
  font-weight: 300;
  color: #c92c61;
  font-size: 1.5em;
}

p {
  font-family: Georgia, serif;
  color: #333;
  line-height: 1.6;
  font-size: 1.1em;
}

ul {
  font-family: Georgia, serif;
  line-height: 1.6;
  font-size: 1.1em;
}

a {
  color: #c92c61;
}
