footer {
  background-color: #f1f1f3;
  padding: 50px 20px;
  clear: both;
}

footer p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  max-width: 900px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0px auto;
  color: #333;
}
