section.homepage-landing {
  background-color: #24226b;
  margin-bottom: 20px;
}

section.homepage-landing canvas {
  display: block;
}

section.homepage-landing h1 {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
  transform: translate(0, -50%);
  pointer-events: none;
  mix-blend-mode: screen;

  text-shadow: 0px 0px 100px #ff0, 0px 0px 20px #ff0, 0px 0px 3px #330;
  color: #ff0;
  z-index: 100;
  margin: 0px;
  font-size: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-weight: 300;
  font-style: italic;
}

section.homepage-landing h1 .gb {
  font-weight: 800;
  font-size: 4em;
  line-height: 100px;
  padding-right: 10px;
}

section.homepage-landing h1 .bad {
  display: inline-block;
  font-weight: 500;
  transform: translate(-70px, 20px);
}

section.homepage-landing h1 .gb span {
  display: inline-block;
  width: 10px;
  height: 10px;
}

section.homepage-landing h1 .web {
  display: inline-block;
  font-weight: 500;
  transform: translate(133px, 0px);
}

section.homepage-left,
section.homepage-right {
  clear: both;
  margin-bottom: 20px;
  display: flex;
  /*font-size: 1.2em;*/
}

section.homepage-right {
  flex-direction: row-reverse;
}

section.homepage-left h2,
section.homepage-right h2 {
  font-size: 2em;
  margin: 1em 0;
}

section.homepage-left div.homepage-center,
section.homepage-right div.homepage-center {
  width: 50%;
  /*float: left;*/
  padding: 20px;
  box-sizing: border-box;
  /*background-color: #ccc;*/
  display: flex;
  justify-content: center;
  /*align-items: center;*/
  flex-direction: column;
}

div.homepage-center p {
  padding-right: 50px;
  margin-bottom: 40px;
}

.homepage-content {
  width: 100%;
}

section.homepage-left img {
  max-width: 300px;
}

section.homepage-right img {
  max-width: 300px;
}

.button {
  display: inline-block;
  border: 3px solid #c92c61;
  border-radius: 8px;
  text-decoration: none;
  color: #c92c61;
  font-size: 1.1em;
  padding: 10px 20px;
  transition: color 0.3s linear, background-color 0.3s linear;
}

.button:hover {
  cursor: pointer;
  background-color: #c92c61;
  color: #ffffff;
}

#headerNext {
  position: absolute;
  bottom: 10px;
  left: 50%;
  /*background-color: blue;*/
  width: 200px;
  height: 100px;
  background-image: url("/img/next.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translate(-50%, 0) rotate(90deg) scale(0.5);
  animation: MoveUpDown 3s ease-in-out infinite;
}

@keyframes MoveUpDown {
  0% {
    bottom: 0;
  }
  60% {
    bottom: 0;
  }
  70% {
    bottom: 10px;
  }
  80% {
    bottom: 0;
  }
  90% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}

@media (max-width: 700px) {
  section.homepage-landing h1 .bad {
    transform: translate(14px, 10px);
  }
  section.homepage-landing h1 .gb span {
    display: block;
  }
  section.homepage-landing h1 .web {
    transform: translate(63px, 30px);
  }

  section.homepage-left,
  section.homepage-right {
    display: block;
  }

  section.homepage-left div.homepage-center,
  section.homepage-right div.homepage-center {
    width: 100%;
    /*text-align: center;*/
    align-items: center;
  }

  div.homepage-center p {
    padding-right: 0px;
  }
}
